[MISP]
misp_url=https://misp.kamuning176.com
misp_key=RCA3rzX3q8tozY3NTw2yzwU96NnFnWscEnOsR8HD
misp_verifycert=False

[isight]
isight_url=https://api.isightpartners.com
isight_priv_key=5007debd2a92ab13bc80610b5c6327451d724b35e16e217ec162d0b314f2c1a2
isight_pub_key=af46fda763cad6ece8fc7c1bfe02070ea0793f5f0669c9d2bc279e30006ef5a6

last_hours=6

[proxy]
use_isight_proxy=False
use_misp_proxy=False
port=8080
host=proxy.example.com
protocol=https
full=https://proxy.example.com:8080
#host=api.isightpartners.com
#full=https://api.isight.partners.com:8080



[general]
# log_level can be DEBUG, INFO, WARNING, ERROR or CRITICAL
log_level=DEBUG
use_threading=False
number_threads=100
